desafios_01/bin
desafios_01/obj
desafios_02/bin
desafios_02/obj
desafios_03/bin
desafios_03/obj
desafios_04/bin
desafios_04/obj
desafios_05/bin
desafios_05/obj
desafios_06/bin
desafios_06/obj
desafios_07/obj
desafios_07/bin
desafios_08/bin
desafios_08/obj
